Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.antialias: rgba
Xft.rgba: rgb
*FontBackend: xft


! xterm config

xterm*loginShell: true

xterm*utf8: 1
xterm*locale: UTF-8
xterm*deleteIsDEL: true
xterm*charClass: 35-37:48,43:48,45-47:48,94:48,126:48

xterm*renderFont: true
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 10

xterm*scrollBar: false
xterm*savelines: 65535
xterm*highlightSelection: true
xterm*cursorBlink: true
xterm.visualBell: true

xterm*dynamicColors: on
xterm*foreground: #ffffff
xterm*background: #000000

! Approximately Tango
xterm*color0: #2e3436
xterm*color1: #cc0000
xterm*color2: #4e9a06
xterm*color3: #c4a000
xterm*color4: #3465a4
xterm*color5: #75507b
xterm*color6: #0b939b
xterm*color7: #d3d7cf
xterm*color8: #555753
xterm*color9: #ef2929
xterm*color10: #8ae234
xterm*color11: #fce94f
xterm*color12: #729fcf
xterm*color13: #ad7fa8
xterm*color14: #00f5e9
xterm*color15: #eeeeec
